/*
    NOTE: global styles are done here instead of a GlobalStyles styled-components because
            there needs to be a particular font family and it is easier to include from 
            a standard .css file instead of the styled-components component
*/


body {
    margin: 0;

}

@font-face {
    font-family: 'Pixel';
    src: url('./font/Pixel-LCD-7.woff') format('woff');
}